.App {

}

.audio-item-wrapper{
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audio-item {
  background: rgba( 255, 255, 255, 0.45 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 10px;
  border: 3px solid rgba( 255, 255, 255, 0.50 );
  width: 50%;
  height: 20%;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  display: grid;
  grid-template-columns: 0.5fr  0.5fr 1fr 0.4fr;
  grid-template-rows: repeat(2, 0.5fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  transition-duration: 2s;
  transition-property: transform;
  transition-timing-function: ease;
}

.audio-item:hover{
  animation-duration: 0.5s;
  transform: scale(1.1);
}

.container{
  margin: 0;
}
  
.grid-play { 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 5%;
  grid-area: 1 / 1 / 3 / 2; 
}

.grid-album-cover {
  display: flex;
  justify-content: center;
  width: 100%;
  grid-area: 1 / 2 / 3 / 2;
}

.grid-album-cover img {
  width: 60%;
}

.grid-title { 
  padding: 2%;
  grid-area: 1 / 3 / 2 / 3; 
}
.grid-singer { 
  padding: 2%;
  grid-area: 2 / 3 / 3 / 3; 
}

.grid-audio-item-duration { 
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 1 / 4 / 3 / 4
}

.grid-play img {
  min-height: 50%;
  width: 30%;
}

.player{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;;
  color: white;
  text-align: center;
  backdrop-filter: blur(2px);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.player img{
  height: 30px;
  width: 30px;
  /* bottom: -2px; */
  padding: 5px;
  border: 3px solid black;
  border-radius: 15px;
  transition: all 1s;
  cursor: pointer
}

.player img:hover {
  transform: scale(1.1);
}

.previous-track-button {
  transform: rotate(180deg);
}

.previous-track-button, .play-button, .next-track-button {
  padding: 15px 5px;
}

.player-controls{
  display: flex;
  flex-direction: row;
  justify-items: center;
  width: fit-content;
  margin: auto;
}